<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Cart</title>
  </head>
  <body>
    <main>
        <h3>Carrito</h3>
      <section class="cart">

        {{#each cart.products}}
          <div class="prodCart">
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>${{price}}</p>
            <p>Cantidad: 1</p>
          </div>
        {{/each}}
      </section>

    </main>
  </body>
</html>