<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <main>
      <h2>Registro</h2>
      <form id="singUpForm">
        <p>Nombre/s:</p>
        <input type="text" id="user" />
        <p>Apellido/s:</p>
        <input type="text" id="pass" />
        <p>Email:</p>
        <input type="text" id="user" />
        <p>Edad:</p>
        <input type="text" id="pass" />
        <p>Contraseña:</p>
        <input type="text" id="user" />
        <button type="submit">Enviar</button>
      </form>
    </main>
  </body>
</html>