* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profileImg {
  width: 50px;
  border-radius: 50px;
}
h2 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
h3 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.data {
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 200px;
}
button {
  margin-top: 20px;
  width: 100px;
}
#prods, .cart {
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
#prods div, .prodCart {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 10px;
  border: solid 2px #000;
  border-radius: 10px;
  line-height: 1.8;
}
#chat {
  margin-top: 20px;
}
#chat div {
  background-color: #333;
  color: #fff;
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 5px;
}